nav.dark + section.blog {
    background-color: var(--darkBc);
    color: var(--baccolor);
}

section.blog {
    min-height: 100vh;
    color: var(--titlecolor);
    padding: 20px 120px;
}

section.blog h1 {
    text-align: center;
    padding-bottom: 20px;
    font-family: "Pacifico";
}

.blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blog-item {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.blog-item .blog-text {
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
    left: 20%;
    bottom: 20%;
    padding: 10px;
    color: var(--darkBc);
    text-shadow: 1px #000;
}

.blog-item .blog-text a {
    text-decoration: none;
    font-style: italic;
}

.blog-item img {
    width: 100%;
    padding: 10px;
}

@media (max-width: 1000px) {
    section.blog {
        padding: 20px 80px;
    }
}

@media (max-width: 900px) {
    section.blog {
        padding: 20px 50px;
    }
    .blog-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    section.blog {
        padding: 20px 20px;
    }
}
